.ForgetPassword{
    margin-top: 7%;
}
.ForgetPassword input{
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background: #f5f5e7;
    width: 250px;
}
.ForgetPass{
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: auto;
}
.ForgetPass button{
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 24px; 
}
.ForgetPass a button{
    width: 250px;
}
.ForgetPass .butt1{
    background: #175cff;
    color: white;
}
.ForgetPass .butt2{
    background: #e7e8eb;
    color: black;
}